*{
  box-sizing: border-box;  
}

body {
  margin: 0;
}

section{
  min-height: calc(100vh - 80px);
  background-color: antiquewhite;

  > h2{
    margin-top: 0;
  }
}

header, footer, section{
  padding: 0 20px;
}